/* line 7, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/* line 13, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.background {
  background-image: url(../images/background.jpg);
}

/* line 16, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
a {
  text-decoration: none;
}

/* line 19, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.underline {
  text-decoration: underline;
}

/* line 22, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
h1, h2 {
  font-family: "costa", sans-serif;
  color: #C98A3D;
  font-weight: bold;
}

/* line 27, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
li, a {
  font-family: tahoma, sans-serif;
  color: #664319;
  font-weight: 500;
  font-size: 1.2rem;
}

/* line 33, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
p {
  font-family: tahoma, sans-serif;
  color: #664319;
  font-size: 1.2rem;
}

/* line 39, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
h3 {
  margin-top: 2rem !important;
  color: #664319;
}

/* line 43, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.logo {
  width: 50%;
}

/* line 46, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
footer {
  padding-bottom: 1rem;
}

/* line 49, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.bar {
  padding: 0.3rem;
  background-color: #EFD780;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 57, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.space {
  margin: 0;
  padding: 2rem 1rem;
}

/* line 64, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.white {
  background-color: #fff;
}

/* line 68, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.yellow {
  background-color: #C98A3D;
}

/* line 72, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.index h1 {
  padding-top: 2rem;
}

/* line 75, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.top {
  padding-top: 2rem;
}

/* line 78, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.thumbnails {
  height: 100%;
  padding: 1rem;
  background-color: #fff;
  border: solid 0.5rem #EFD780;
}

/* line 86, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.thumbnails img {
  padding-bottom: 0.5rem;
}

/* line 90, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.relative {
  position: relative;
}

/* line 94, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.absolute {
  position: absolute;
}

/* line 98, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.button {
  border: none;
  background-color: #fff;
  margin-top: 2rem;
}

/* line 104, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
#list-items {
  display: none;
  position: relative;
  background-color: white;
}

/* line 108, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
#list-items a {
  font-family: "costa", sans-serif;
  display: block;
  font-size: 1rem;
  color: #C98A3D;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

/* line 117, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
#list-items :first-child {
  margin-top: 1rem;
}

/* line 123, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
#bignav {
  padding: 1.5rem 0;
}

/* line 126, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
#bignav a {
  font-family: "costa", sans-serif;
  font-weight: 700;
  color: #C98A3D;
  font-size: 1.5rem;
}

/* line 133, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
#bignav a:hover {
  color: #EFD780;
}

/* line 137, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.active {
  color: #664319 !important;
}

/* line 143, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.button {
  background-color: rgba(255, 255, 255, 0);
}

/* line 145, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.button li {
  margin-left: -1rem;
}

/* line 149, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.button a {
  margin-bottom: 1rem;
  padding: 0.5rem 4rem;
  font-family: "costa", sans-serif;
  font-size: 1.5rem;
  background-color: #EFD780;
  color: #664319;
  border: none;
}

/* line 157, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.button a:hover {
  color: #664319;
  background-color: #F5F1C6;
}

/* line 161, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.button a:active {
  color: #664319 !important;
  background-color: #F5F1C6 !important;
}

/* line 169, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.button :nth-child(2) a {
  padding: 0.5rem 5.3rem;
}

/* line 176, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.grid {
  padding: 0 !important;
}

/* line 180, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.frame {
  margin: 2rem;
  padding: 2rem;
  background-color: #fff;
  border: #EFD780 solid 0.5rem;
}

/* line 187, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
form {
  padding: 2rem;
  font-family: "costa", sans-serif;
  color: #C98A3D;
  font-size: 1.3rem;
}

/* line 192, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
form input, form textarea {
  font-family: tahoma, sans-serif;
  font-size: 1rem;
  border: #EFD780 solid 0.2rem;
  margin-bottom: 0.5rem;
}

/* line 198, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
form button {
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  font-family: "costa", sans-serif;
  font-size: 1.5rem;
  background-color: #EFD780;
  color: #664319;
  border: none;
}

/* line 206, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
form button:hover {
  color: #664319;
  background-color: #F5F1C6;
}

/* line 214, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.two {
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

/* line 222, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.hover:hover .two {
  opacity: 1;
  z-index: 2;
}

/* line 229, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.index ul {
  padding-left: 0 !important;
}

/* line 234, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
.process h3 {
  font-family: tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (max-width: 576px) {
  /* line 242, ../../Graphic Design/Advanced Web/Project 1/docs/Turner-Project-1/Turner-Project-1/sass/custom.scss */
  p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=custom.css.map */