$heading: "costa",sans-serif; 
$body: tahoma, sans-serif;
$dark-yellow: #C98A3D;
$medium-yellow: #EFD780;
$light-yellow: #F5F1C6;
$brown:#664319;
li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.background {
    background-image: url(../images/background.jpg);
}
a {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}
h1, h2 {
    font-family: $heading;
    color:$dark-yellow;
    font-weight: bold;
}
li, a {
    font-family: $body;
    color: $brown;
    font-weight: 500;
    font-size: 1.2rem;
}
p {
    font-family: $body;
    color: $brown;
    font-size: 1.2rem;
   
} 
h3 {
    margin-top: 2rem !important;
    color: $brown;
}
.logo {
    width:50%;
}
footer {
    padding-bottom: 1rem;
}
.bar {
    padding: 0.3rem;
    background-color: $medium-yellow;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}
.space {
    margin:0;
    padding: 2rem 1rem;
}



.white {
    background-color: #fff;
}

.yellow {
    background-color: $dark-yellow;
}

.index h1 {
    padding-top: 2rem;
}
.top {
    padding-top: 2rem;
}
.thumbnails {
    
    height:100%;
    padding: 1rem;
    background-color: #fff;
    border: solid 0.5rem $medium-yellow;
  
}
.thumbnails img {
    padding-bottom: 0.5rem;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    
}
.button {
    border:none;
    background-color: #fff;
    margin-top: 2rem;
}

 #list-items {
    display: none;
    position: relative;
    background-color: white;
    a {
        font-family: $heading;
        display: block;
        font-size: 1rem;
        color: $dark-yellow;
        text-decoration: none;
        padding: 10px;
        text-align: center;
    }
    :first-child {
        margin-top: 1rem;
    }
 }
 

#bignav {
    padding: 1.5rem 0;
}
 #bignav a {
    
   
    font-family: $heading;
    font-weight: 700;
    color: $dark-yellow;
    font-size: 1.5rem;
    &:hover {
        color: $medium-yellow;
    }
}
.active {
    color:$brown !important;
}



.button  {
    background-color: rgba(255,255,255,0);
    li {
        margin-left: -1rem;
    }
    
        a {
            margin-bottom: 1rem;
        padding:0.5rem 4rem ;
        font-family: $heading;
        font-size: 1.5rem;
        background-color: $medium-yellow;
        color:$brown;
        border:none;
            &:hover {
            color: $brown;
            background-color: $light-yellow;
            }
            &:active {
                color: $brown !important;
                background-color: $light-yellow !important;
            }
        
    }
    :nth-child(2) {
        
        a {
            padding: 0.5rem 5.3rem ;
        }
    }

}

.grid {
    padding: 0 !important;
}

.frame {
    margin: 2rem;
    padding: 2rem;
    background-color: #fff;
    border: #EFD780 solid 0.5rem;
}

form {
    padding: 2rem;
    font-family: $heading;
    color: $dark-yellow;
    font-size: 1.3rem;
    input, textarea {
        font-family: $body;
        font-size: 1rem;
        border:$medium-yellow solid 0.2rem;
        margin-bottom: 0.5rem;
    }
    button {
        margin-bottom: 1rem;
        padding:0.5rem 0;
        font-family: $heading;
        font-size: 1.5rem;
        background-color: $medium-yellow;
        color:$brown;
        border:none;
            &:hover {
            color: $brown;
            background-color: $light-yellow;
            }
    }
}
 

.two {
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.hover:hover {
    .two {
        opacity: 1;
        z-index: 2;
        
    }
}

.index ul {
    padding-left: 0 !important;
}

.process {
    h3  {
    font-family: $body;
    font-weight: bold;
    font-size: 1.2rem;
    }
}
  
@media (max-width: 768px) {
    p {
        font-size: 1rem;
    }
  }